@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<br />
<div class="text-justify">
    <h1 class="display-4">Welcome</h1>
    <p>@Model.welcomeNote.Message1</p>
    <br />
    <p>@Model.welcomeNote.Message2</p>
    <br />
    <p>@Model.welcomeNote.Message3</p>
</div>
